/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

* {
  	margin: 0;
  	padding: 0;
  	font-family: 'Raleway', sans-serif;
}

nav {
  	background-color: #E54E79;
  	position: fixed;
  	text-align: center;
  	top: 0;
  	width: 100%;
  	height: 75px;
  	z-index: 1;
  	overflow: hidden;
  	float: right;
  	clear: right;
}

#logo {
	z-index: 3;
	float: left;
	clear: left;
	width: 70px;
	height: 45px;
    margin: 1em 8em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/logo-white.png');
}

nav ul{
	list-style: none;
	text-align: right;
	right: 100px;
	top: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	display: inline-block;
	text-align: right;
}

nav ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 26px;
	text-decoration: none;
}

nav li a:hover{
	background-color: #E56385;
}

header {
    background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    padding: 20em 3em 3em;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 20em;
    background-attachment: fixed;
    position: relative;
    display: block;
}

.fondo-img .caja-registro{
	position: absolute;
    max-width: 400px;
    top: 13em;
    right: 0;
    background-color: #EDE9E2;
    padding: 3em 2.5em 3em 2em;
    text-align: left;
    width: 100%;
}

header h1{
	color: #00B2A9;
}

.subt h2{
	color: #75726C;
	font-size: 12px;
	margin: 1.5em 0;
}

.fondo-img .caja-registro p{
	display: block;
	margin-top: 1.5em;
	font-size: 90%;
}

.coordenadas, .phone {
    color: #444;  
    font-size:20px;
    height: 40px;
    display:inline-block;
    border:none;
    border-bottom:1px solid #888888;
    background-color: transparent;
    position: relative;
    margin: 0;
    width: 18em;
}

.boton-registro {
	margin-top: 5px;
	text-align: center;
	margin-left: -156px;
  	display: inline-block;
  	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	cursor: pointer;
  	padding: 10px 20px;
  	border: 1px solid rgba(229,99,133,1);
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	color: rgba(255,255,255,0.9);
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #E56385;
  	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
}

.boton-registro i{
	font-size: 1.5em;
}

/*Aquí están los estilos del play with lyft*/

.play-with-lyft {
	background-color: #00B2A9;
	text-align: center;
	padding: 2em 0 2.4em 0;
	border: 0;

}
.titulo2{
	background-color: #EDE9E2;
	text-align: center;
	padding: 15px;
	border: 0;
}

.play-with-lyft h1{
	color: #75726C;
	font-size: 55px;
	font-weight: bold;

}

.caja-juego {
	background-color: #EDE9E2;
	text-align: center;
	position: relative;
	width: 90%;
	max-width: 800px;
	margin-top: 2em;
	padding: 30px 0;
}

.caja-juego i{
	color: #75726C;
	padding: 10px;
	font-size: 1.8em;
}

.coordenadas{
	width: 15em;
}

.boton-start{
	background-color: #26A69A;
    border-radius: 0.9em;
    width: 95%;
    height: 4em;
    color: white;
    position: relative;
    margin-top: 6em;
    margin-bottom: 1em;
    border: 0;
}


/*Aquí están los estilos del footer*/

footer {
	color: white;
    font-weight: lighter;
    background-color: #75726C;
}

footer h2{
	margin-bottom: 30px;
	font-weight: lighter;
}

.fa{
	display: inline-block;
	margin:5px;
	cursor: pointer;
}

.links{
	position: relative;
	left: 70px;

}
.links ul {
	list-style: none;
}

.links ul li a{
	text-decoration: none;
	color: #fff;
}

footer .footer-bottom{
	background-color: #706D68;
	padding: 1em 0;
}

.footer p{
	text-align: left;
	left: 20%;
	width: 50%
	font-size: 15px; 
}